/**
 * Remove default margin.
 */

body {
    margin: 0;
}


/* HTML5 display definitions
   ========================================================================== */


/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}


/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
    margin: 0.67em 0;
    font-size: 2em;
}


/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
    font-size: 80%;
}


/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub, sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}


/* LAYOUT STYLES */

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    color: #666;
    background: #fafafa url(../images/body-bg.jpg) 0 0 repeat;
}

p {
    margin-top: 0;
}

a {
    color: #2879d0;
}

a:hover {
    text-decoration: underline;
}

header {
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'Josefin Sans', sans-serif;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    border-bottom: solid 1px #275da1;
}

header h1 {
    margin-top: 0;
    margin-bottom: 0.2em;
    font-size: 72px;
    font-weight: normal;
    line-height: 1;
    color: #fff;
    letter-spacing: -1px;
    text-align: center;
}

header h2 {
    width: 540px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 26px;
    font-weight: normal;
    line-height: 1.3;
    color: #9ddcff;
    letter-spacing: 0;
}

.inner {
    position: relative;
    margin: 0 auto;
}

#content-wrapper {
    padding-top: 30px;
    padding-right: 25px;
    padding-left: 25px;
    border-top: solid 1px #fff;
}

#main-content {
    text-align: center;
}

#main-content img {
    max-width: 100%;
}

#downloads {
    margin-bottom: 40px;
}

a.button {
    height: 58px;
    padding-top: 22px;
    padding-left: 68px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 23px;
    line-height: 1.2;
    color: #fff;
}

a.button small {
    display: block;
    font-size: 11px;
}

code, pre {
    margin-bottom: 30px;
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    font-size: 13px;
    color: #222;
}

code {
    padding: 0 3px;
    background-color: #f2f8fc;
    border: solid 1px #dbe7f3;
}

pre {
    padding: 20px;
    overflow: auto;
    text-shadow: none;
    background: #fff;
    border: solid 1px #f2f2f2;
}

pre code {
    padding: 0;
    color: #2879d0;
    background-color: #fff;
    border: none;
}

ul, ol, dl {
    margin-bottom: 20px;
}


/* COMMON STYLES */

hr {
    height: 0;
    margin-top: 1em;
    margin-bottom: 1em;
    border: 0;
    border-top: solid 1px #ddd;
}

table {
    width: 100%;
    border: 1px solid #ebebeb;
}

th {
    font-weight: 500;
}

td {
    font-weight: 300;
    text-align: center;
    border: 1px solid #ebebeb;
}

form {
    padding: 20px;
    background: #f2f2f2;
}


/* GENERAL ELEMENT TYPE STYLES */

#main-content h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.8em;
    font-weight: normal;
    color: #474747;
    text-indent: 6px;
    letter-spacing: -1px;
}

#main-content h1:before {
    padding-right: 0.3em;
    margin-left: -0.9em;
    color: #9ddcff;
    content: "/";
}

#main-content h2 {
    margin-bottom: 8px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: #474747;
    text-indent: 4px;
}

#main-content h3 {
    margin-top: 24px;
    margin-bottom: 8px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    color: #474747;
    text-indent: 3px;
}

#main-content h4 {
    margin-bottom: 8px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    color: #474747;
    text-indent: 3px;
}

#main-content h5 {
    margin-bottom: 8px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    color: #474747;
    text-indent: 3px;
}

#main-content h6 {
    margin-bottom: 8px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: .8em;
    color: #474747;
    text-indent: 3px;
}

p {
    margin-bottom: 20px;
}

a {
    text-decoration: none;
}

p a {
    font-weight: 400;
}

blockquote {
    padding: 0 0 0 30px;
    margin-bottom: 20px;
    font-size: 1.6em;
    border-left: 10px solid #e9e9e9;
}

ul {
    list-style-position: inside;
    list-style: disc;
    padding-left: 20px;
}

ol {
    list-style-position: inside;
    list-style: decimal;
    padding-left: 3px;
}

dl dd {
    font-style: italic;
    font-weight: 100;
}


/* MISC */

.clearfix:after {
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    content: '.';
}

.clearfix {
    display: inline-block;
}

* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}
